* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --ff-roboto: "Roboto", sans-serif;
  --fw-400: 400;
  --fw-700: 700;
  --color-boton: #db3030;
}

body {
  font-family: var(--ff-roboto);
}

.container {
  background-image: url("https://s3.amazonaws.com/makeitreal/cars/jaguar-xe.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100vw;
}

.container-information {
  background-color: rgb(0, 0, 0, 0.7);
  max-width: 600px;
  position: relative;
  top: 5rem;
  left: 5rem;
  padding: 1.5rem;
  border-radius: 0.5rem;
}

.container h1,
p {
  padding-bottom: 1.5rem;
  color: white;
  font-weight: var(--fw-700);
}

.container a {
  padding: 0.5rem;
  background-color: var(--color-boton);
  border: none;
  color: white;
  font-weight: var(--fw-700);
  text-decoration: none;
}

@media (max-width: 600px) {
  .container-information {
    top: 0;
    left: 0;
  }
}
